// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";

html {
  body {
    background: #fff url("../../assets/img/bg.png") repeat;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    cursor: pointer !important;
    .full-height {
      height: 100vh;
    }

    .flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .position-ref {
      position: relative;
    }

    .top-right {
      position: absolute;
      right: 10px;
      top: 18px;
    }

    .content {
      text-align: center;
    }

    .title {
      font-size: 54px;
    }

    .links {
      a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .m-b-md {
      margin-bottom: 30px;
    }

    .btn {
      padding: 6px 12px;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #27ae60;
      color: #ffffff;
      text-decoration: none;
    }

    .full-height {
      height: 100vh;
    }
    .flex-center {
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .position-ref {
      position: relative;
    }
    .top-right {
      position: absolute;
      right: 10px;
      top: 18px;
    }
    .content {
      text-align: center;
    }
    .title {
      font-size: 54px;
    }
    .links {
      a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    .m-b-md {
      margin-bottom: 10%;
    }
    .btn {
      padding: 6px 12px;
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      border-radius: 4px;
      background-color: #27ae60;
      color: #ffffff;
      text-decoration: none;
    }

    .navbar-toggle .icon-bar {
      color: #fff;
      background: #fff;
    }

    .logo {
      margin: 5% 0;
    }

    .logo-login {
      margin: auto;
      text-align: center;
    }

    .logo-login img {
      width: 10%;
      margin: 3% 0;
    }

    .logo-bar {
      width: 35px;
      height: 35px;
      margin-right: 15px;
    }

    .restaurant-name {
      font-size: 1.5em;
      line-height: 1.6em;
      margin-right: 15px;
      margin-top: 5%;
    }

    .footer {
      background: #ffffff;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      padding: 1% 3%;
    }

    .credits {
      text-align: center;
    }

    .navbar {
      color: #28878F !important;
      border-bottom: solid #28878F 1px;
    }

    .navbar-nav {
      color: #28878F;
      margin: 0 25px;
    }

    .navbar, .dropdown-menu {
      background: #ffffff;
      border: none;
      font-size: 1.15em;
      font-weight: bold;

    }




  }
}





.nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
  border-bottom: 3px solid transparent;
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  border-bottom: 3px solid transparent;
  color: #28878F;
}

.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
  color: #28878F;
}

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
  border-bottom: #28878F 3px solid;
}

.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
  border-bottom: #28878F 3px solid;
}




